body {
  background-color: white;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Oke-logo {
  height: 300px;
}
h1.title {
  font-size: 50px;
  margin-top: 20px;
}
h2.subtitle {
  font-size: 30px;
}
.light-img {
  height: 30%;
  width: 30%;
}
.light-img-2 {
  height: 300px;
  width: 250px;
}
.glassImage {
  position: absolute;
  visibility: hidden;
  width: 15%;
}
.glassShow {
  position: absolute;
  width: 15%;
  z-index: 3;
}
.glassShow:hover {
  position: absolute;
  width: 15%;
  z-index: 3;
  cursor: pointer;
}
.test {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 100%;
  /* margin: auto; */
  left: 49.1%;
  top: 51%;
}
.button-page2 {
  font-size: 5px;
  /* width: 20px;
  height: 15px; */
  /* margin-bottom: 20px; */
  /* border-width: 0px;  */
}
.page3-button {
  margin: 5% 0;
}
sub {
  padding-top: 20px;
}
div.page3-button a {
  width: 200px;
}
.ball-page2 {
  position: absolute;
  left: -1%;
  top: 63%;
}
.ball1-page2 {
  position: absolute;
  left: 8%;
  top: 63%;
}
.ball2-page2 {
  position: absolute;
  left: 17%;
  top: 63%;
}
.ball3-page2 {
  position: absolute;
  left: 26%;
  top: 63%;
}
.ball4-page2 {
  position: absolute;
  left: 35%;
  top: 63%;
}
@media only screen and (min-width:1260px){
  .ball-page2 {
    position: absolute;
    left: 0%;
    top: 63%;
  }
  .ball1-page2 {
    position: absolute;
    left: 9%;
    top: 63%;
  }
  .ball2-page2 {
    position: absolute;
    left: 18%;
    top: 63%;
  }
  .ball3-page2 {
    position: absolute;
    left: 27%;
    top: 63%;
  }
  .ball4-page2 {
    position: absolute;
    left: 36%;
    top: 63%;
  }
}
div a.button {
  margin-top: 5%;
}
div input {
  margin-top: 15%;
  font-size: 1.5rem !important;
  width: 100px !important;
}
.control {
  text-align: center;
}
.is-800x540 {
  width: 800px;
  height: 540px;
}
.padding-horizontal {
  margin: 0 5%;
}
.spectrum-page3 {
  height: 550px;
  width: 140px;
}
.buttonChangePage {
  /* position: absolute;
  left: 65%;
  top: 70%; */
  right: 0;
}